<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="auth-page">
    <div class="container">
        <h2>Log In to Your Account</h2>
        <form action="/login/" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
        </form>
        <a href="/register/">Don't have an account? Register here</a>
        <p id="errorMessage" class="error" style="display: block;">{{ error }}</p>
    </div>
</body>
</html>
